
.addblog-container{
    display: grid;
    place-items: center;
    margin: 5rem 0;
}
.addblog-container h1{
    color: black;
}
.addblog-container {
    color: rgb(158, 165, 238);
}

.addblog-container input{
    background: transparent;
    border: none;
    padding: 10px;
    width: 50vw;
    margin: 1rem;
    color: var(--dark);
    border: 1px solid var(--dark);
}
.textarea{
    min-height: 100vh;
    color: var(--dark);
    background: transparent;
    width: 50vw;
    margin-top: 1rem;
}
.addblog-container label{
    display: grid;
    margin: 20px;
}

.addblog-container button{
    padding: 7px;
    background: greenyellow;
    width: 5rem;
    border-radius: 5px;
    display: block;
    margin: auto;
    grid-area: auto;
    place-items: start;
}