@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Universal CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    background-color: var(--white);
}
a,
.fa-solid,
button,
img{
    cursor: pointer;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    padding: 7px;
}

/* Custom Variables */
:root{
    --white: white;
    --dark: black;
}
