
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #e93a72; /* Red */
    color: var(--white);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50vw;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: var(--white);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: var(--dark);
  }